.dropdown-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 120px;
    padding-top: 24px;
    align-items: flex-end;
    background-color: transparent;
}


.search-company-input{
    border-radius: 5px;
    padding: 10px 8px;
    border: 1px solid #ccc;
    height: 1.4375em;
}

